[user]
	email = erik.moqvist@gmail.com
	user = Erik Moqvist
	name = Erik Moqvist
[core]
	excludesfile = ~/.gitignore
	editor = emacs -nw
[color]
	ui = true
[push]
	default = simple
[alias]
	mdiff = diff --word-diff=color
	mlog = log --graph --all --decorate
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
